.main-panel{
    flex-grow: 1;
}

/* 主題 */
.theme{
    height: 100%;
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}
.theme .panel{
    width: 100%;
    height: 100%;
}
.theme .theme-title{
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background-color: aqua;
}

/* 次主題 */
.theme .topic{
    margin: 4px 0;
    padding: 5px 0;
}
.topic .topic-title{
    margin: 3px 10px;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}
.topic .image{
    max-height: 400px;
    padding: 0 20px;
    margin-bottom: 10px;
}
.topic .display-panel{
    width: 100%;
    padding: 0 5px;
}

/* 顯示項目 */
.item{
    width: 100%;
    margin: 5px 5px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
}
.item .name{
    width: 350px;
    font-size: 20px;
}
.item .value{
    padding-right: 5px;
    font-size: 30px;
    text-align: right;
    flex-grow: 1;
    background-color: white;
    color: blue;
}
.item .unit{
    width: 75px;
    text-align: right;
}

.item .button{
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px #1d1d1d;

    background-color: #c2c2c2;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item .button:active{
    background-color: greenyellow;
}